.input-group
  display: flex
  justify-content: center
  flex-flow: row nowrap

  input
    border-right: 0
    border-bottom-right-radius: 0
    border-top-right-radius: 0

  button
    border-bottom-left-radius: 0
    border-top-left-radius: 0
    min-width: 0

    &:active
      transform: none
