@import '../vars.styl';

.todo-list
  .input-group
    margin: auto
    width: 40*spacing

    input
      flex-grow: 1

  .checklist
    align-items: stretch
    display: inline-flex
    flex-flow: column nowrap
    list-style: none
    margin: 3*spacing 0 0
    padding: 0
    width: 40*spacing

    li
      text-align: left

      &:not(:first-child)
        margin-top: spacing
