@import url('https://fonts.googleapis.com/css?family=Oswald:700|Source+Code+Pro|Source+Sans+Pro:400,700');
@import './vars.styl';

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: backgroundColour
  font-family: 'Source Sans Pro', sans-serif
  font-size: 14px
  margin: 0
  text-align: center

abbr
  border-bottom: 1px dashed lighten(black, 60%)
  cursor: help

a, a:visited
  border-bottom: 1px solid primaryColour
  color: primaryColour
  font-weight: bold
  text-decoration: none

  &.btn
    border: none
    color: white

input[type="text"]
  background: transparent
  border: 2px solid primaryColour
  border-radius: 2px
  box-sizing: border-box
  color: white
  font-size: inherit
  height: 5*spacing
  line-height: 5*spacing
  padding: 0 2*spacing

  &::placeholder
    color: disabledColour

main
  display: flex
  flex-flow: column nowrap
  margin: 0 auto
  max-width: 160 * spacing

header, footer
  align-items: center
  display: flex
  flex-flow: column nowrap
  padding: 7*spacing 0

  h1
    color: primaryColour
    font-family: 'Oswald', sans-serif
    font-size: 32px
    margin: 0 0 3*spacing
    text-transform: uppercase

  h2
    font-size: 20px
    font-weight: normal
    margin: 0 0 3*spacing

  p
    margin: 0
    max-width: 100*spacing

    &:not(:last-of-type)
      margin: 0 0 spacing

  nav
    display: flex
    flex-flow: row nowrap
    margin-top: 3*spacing

    a, button
      &:not(:last-child)
        margin-right: 2*spacing

  .disclaimer
    margin: 3*spacing 0
